<footer class="footer light">
  <div class="container big">
    <div class="about">
      <a href="/" class="dhosting-logo" title="dHosting">
        <img src="/assets/images/logo.png"/>
      </a>
      <p>
        dHosting is built in collaboration with the <a href="https://distributedwebs.org">Distributed Webs Project
        </a> and <a href="https://dbrowser.io">dBrowser</a>. All rights are reserved.
      </p>

      <p>
        Version <%= appInfo.version %>. Code licensed MIT (<a href="https://github.com/dhosting/web">source</a>).
      </p>
    </div>

    <div class="footer-links">
      <div class="dhosting">
        <h2>Navigation</h2>
        <ul>
          <li><a href="/about">About</a></li>
          <% if (stripePK) { %>
          <li><a href="/pricing">Pricing</a></li>
          <% } %>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
      </div>

      <div class="external">
        <h2>Resources</h2>
        <ul>
          <li><a href="https://benchx.io">Bench</a></li>
          <li><a href="https://dwebs.io">dWeb Protocol</a></li>
          <li><a href="https://benos.io">benOS</a></li>
          <li><a href="https://dbrowser.io">dBrowser</a></li>
          <li><a href="https://dpacks.io">dPacks Repository</a></li>
          <li><a href="https://dpack.io">dPack Tools</a></li>
          <li><a href="https://dexplorer.io">dExplorer</a></li>
          <li><a href="https://ddrive.io">dDrive</a></li>
          <li><a href="https://ddatabase.io">dDatabase</a></li>
          <li><a href="https://dwebs.io/dsitedb/">dSiteDB</a></li>
          <li><a href="https://benchcore.io">BenchCore</a></li>
        </ul>
      </div>
    </div>
    </div>
</footer>
