<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= username %>/<%= vaultname || (key.slice(0, 6) + '..' + key.slice(-2)) %> - <%= appInfo.brandname %></title>
    <% include com/stdhead.html %>
    <link rel="stylesheet" href="/assets/css/vault.css">
  </head>
  <body>
    <%- include('com/nav.html', {navClass: ''}) %>

    <main class="vault">
      <div class="container medium">
        <p class="breadcrumbs">
          <a href="/<%= username %>"><%= username %></a>
          <span><%= vaultname || (key.slice(0, 6) + '..' + key.slice(-2)) %></span>
        </p>

        <div class="vault-content">
          <p id="error-general" class="alert warning"></p>
          <p id="feedback-general" class="alert success"></p>

          <div class="section">
            <h1>
              <% if (title) { %>
                <%= title %>
              <% } else { %>
                <em class="untitled">Untitled</em>
              <% } %>
              <% if (isFeatured) { %>
                <span class="featured">
                  <i class="fa fa-bullhorn"></i>
                  featured
                </span>
              <% } %>
            </h1>
            <% if (description) { %>
              <p><%= description %></p>
            <% } else { %>
              <p><em>No description</em></p>
            <% } %>
            <p>
              <strong>Size:</strong> <span id="vault-size"><%= diskUsage %></span>
            </p>

            <% if (isOwner) { %>
              <div>
                <button id="show-remove-vault-form" class="link">Remove vault</button>
                <form id="remove-vault-form" action="/v2/vaults/remove" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input name="key" type="hidden" value="<%= key %>"/>
                  <button type="button" id="cancel-remove-vault" class="btn outline">
                    Cancel
                  </button>
                  <button type="submit" id="remove-vault-btn" class="btn cancel">
                    Remove
                    <i class="fa fa-close"></i>
                  </button>
                </form>
              </div>
            <% } %>
          </div>

          <div class="links">
            <i class="fa fa-link"></i>

            <% if (vaultname) { %>
              <a id="dweb-nice-url" class="url" href="dweb://<%= niceUrl %>">
                <code>dweb://</code>
                <span class="fa fa-clipboard copy-to-clipboard" data-target="#dweb-nice-url" data-container="#dweb-short-container" data-feedback-el="#url-copy-feedback-dwebShort" title="Copy to clipboard"></span>
                <span id="url-copy-feedback-dwebShort"></span>
              </a>
            <% } %>

            <a id="dweb-raw-url" class="url" href="<%= rawUrl %>">
              <code>dweb:// (raw)</code>
              <span class="copy-to-clipboard fa fa-clipboard" data-target="#dweb-raw-url" data-container="#dweb-raw-container" data-feedback-el="#url-copy-feedback-dwebRaw" title="Copy to clipboard"></span>
              <span id="url-copy-feedback-dwebRaw"></span>
            </a>

            <% if (vaultname) { %>
              <a id="https-nice-url" class="url" href="http://<%= niceUrl %>">
                <code>http://</code>
                <span class="copy-to-clipboard fa fa-clipboard" data-target="#https-nice-url" data-container="#https-container" data-feedback-el="#url-copy-feedback-https" title="Copy to clipboard"></span>
                <span id="url-copy-feedback-https"></span>
              </a>
            <% } %>
          </div>
        </div>

        <% if (isOwner) { %>
          <div class="card owner-controls">
            <section>
              <div class="progress-bar-container">
                <span class="label">
                  Upload progress (<span><%= progress %>%</span>)
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="<%= progress %>"
                  data-key="<%= key %>">
                  <div class="progress" style="width: <%= progress %>%"></div>
                </div>
              </div>
            </section>
          </div>

          <div class="card owner-controls">
            <section>
              <form id="rename-form" class="form form-vault-settings">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <p class="form-group">
                  <label for="input-name">Sub-domain name</label>
                  <input type="text" name="name" class="form-control" id="input-name" placeholder="Optional" value="<%= vaultname %>" />
                  <span id="error-name" class="form-control-feedback"></span>
                  <span id="feedback-name" class="form-control-feedback">
                    Your URL <span class="is-will-be">is</span>
                    <a href="dweb://<%= vaultname ? niceUrl : key %>" class="link"><%= vaultname ? ('dweb://' + niceUrl) : (rawUrl.slice(0, 12) + '..' + rawUrl.slice(-2)) %></a>
                  </span>
                </p>

                <div class="actions">
                  <button id="submit-btn" class="btn success" disabled type="submit">Rename</button>
                </div>
              </form>
            </section>
          </div>
        <% } %>

        <div class="vault-footer-links">
          <% if (sessionUser && !isOwner) { %>
            <button id="show-report-vault-form" data-key="<%= key %>" class="link" title="Report inappropriate or illegal content">
              Report
            </button>

            <div class="modal-form-container">
              <form id="report-vault-form" class="form modal-form">
                <p id="error-general" class="alert warning"></p>
                <input type="hidden" name="vaultOwner" value="<%= username %>"/>
                <input type="hidden" name="vaultKey" value="<%= key %>"/>
                <h1 class="form-heading">Report this vault</h1>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <p class="form-desc bordered">
                  Report this vault to the dHosting admins.
                </p>
                <p class="form-group">
                  Why are you reporting this vault?
                </p>
                <p class="form-group">
                  <label for="inappropriate" name="reason">
                    <input name="reason" type="radio" value="inappropriate"/>
                    It's inappropriate
                  </label>
                  <label for="illegal" name="reason">
                    <input name="reason" type="radio" value="illegal"/>
                    It contains illegal content
                  </label>
                  <label for="terms" name="reason">
                    <input name="reason" type="radio" value="terms"/>
                    It includes racist, sexist, abusive, or violent content
                  </label>
                </p>
                <div class="actions">
                  <div>
                    <button id="cancel-report-btn" type="button" class="btn">Cancel</button>
                    <button type="submit" class="btn primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          <% } %>
        </div>

        <% if (sessionUser && sessionUser.scopes.includes('admin:dwebs')) { %>
          <div class="card admin-controls">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h2>admin</h2>
            <div>
              <button id="admin-toggle-featured" class="btn">
                <%= (!isFeatured) ? 'Add to' : 'Remove from' %> featured
              </button>
            </div>

            <div>
              <button id="admin-remove-vault" class="btn cancel">
                Remove
                <i class="fa fa-close"></i>
              </button>
            </div>
        <% } %>
        </div>
      </main>
    </div>

    <% include com/footer.html %>
    <% include com/stdjs.html %>
    <script src="/assets/js/vault.js"></script>
    <script src="/assets/js/report.js"></script>
    <script src="/assets/js/clipboard.js"></script>
    <script>
      window.params = {
        key: "<%= key %>",
        owner: "<%= username %>",
        name: "<%= vaultname || '' %>",
        hostname: "<%= appInfo.hostname || '' %>",
        progress: <%= progress %>,
        isFeatured: <%= isFeatured %>
      }
    </script>
    <% if (isOwner) { %>
      <script src="/assets/js/upload-progress.js"></script>
    <% } %>
    <% if (sessionUser && sessionUser.scopes.includes('admin:dwebs')) { %>
      <script src="/assets/js/vault-admin.js"></script>
    <% } %>
  </body>
</html>
